@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}




.beige {
  background-color: #eeebe2;
}
.bg-prod1 {
  background-image: url('../components/images/crystal2.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
.bg-prod2 {
  background-image: url('../components/images/book.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.bg-hold {
  background-image: url('../components/images/banner.png');
  background-repeat: no-repeat;
  background-position: center;
}
.blue {
  background-color: rgb(255, 255, 255);
}

.textblue {
  color: rgba(139, 186, 230, 0.671);
}
.blue2 {
  color: rgba(139, 186, 230, 0.904);
}
.footer {
  @apply flex flex-col text-black  mt-5 border-t border-gray-100;
}

.footer__links-container {
  @apply flex max-md:flex-col flex-wrap justify-between gap-5 sm:px-16 px-6 py-10;
}

.footer__rights {
  @apply flex flex-col justify-start items-start gap-6;
}

.footer__links {
  @apply flex-1 w-full flex md:justify-end flex-wrap max-md:mt-10 gap-20;
}

.footer__link {
  @apply flex flex-col gap-6 text-base min-w-[170px];
}

.footer__copyrights {
  @apply flex justify-between items-center flex-wrap mt-10 border-t border-gray-100 sm:px-16 px-6 py-10;
}

.footer__copyrights-link {
  @apply flex-1 flex sm:justify-end justify-center max-sm:mt-4 gap-10;
}

.app__header {
  background-color: var(--color-black);
}

.app__header-h1 {
  font-family: var(--font-base);
  color: var(--color-golden);
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  line-height: 117px;
  font-size: 90px;
}